/*color scss*/
$dark-grey-one: #999999;
$dark-grey-two: #777777;
$dark-grey-three: #888888;

$light-grey-one: #f1f1f1;
$light-grey-two: #f2f2f2;
$light-grey-three: #f3f3f3;
$light-grey-four: #f4f4f4;
$light-grey-five: #f5f5f5;
$light-grey-six: #EAEAEA;
$light-grey-seven: #e4e4e4;
$light-grey-eight: #DADADA;
$light-grey-nine: #d8d8d8;
$light-grey-ten: #e9e9e9;
$light-grey-eleven: #f6f6f6;
$light-grey-12: #f9f9f9;
$light-grey-13: #fcfcfc;
$light-grey-14: #C2C2C2;
$light-grey-15: #DCDCDC;
$light-grey-16: #ECECEC;

$white: #ffffff;
$white-two: #fbfbfb;

$black: #000000;
$black-two: #212529;
$black-three: #333333;
$black-four: #222221;
$black-five: #666666;

$msc-yellow: #EED484;
$msc-red: #A6192E;
$msc-black: #222222;
$msc-purple: #702FA8;
$msc-maroon: #89006C;

/*Depot*/
$dep-grey: #f8f8f8;
$dep-grey-one: #eeeeee;
$dep-grey-two: #cccccc;
$dep-grey-three: #9b9b9b;
$dep-grey-four: #F7F7F7;
$dep-grey-five: #F2F5F7;
$dep-grey-six: #E7E7E7;
$dep-grey-seven: #F5F7FA;
$dep-grey-eight: #dddddd;
$dep-grey-nine: #d0d0d0;
$dep-grey-ten: #efefef;
$dep-grey-eleven: #E6E9ED;
$dep-grey-twelve: #e6e6e6;
$dep-grey-thirteen: #e2e2e2;
$dep-grey-fourteen: #f0f0f0;
$dep-grey-fifteen: #e8e8e8;
$dep-grey-sixteen: #E9EDEF;
$dep-grey-seventeen: #aaaaaa;
$dep-grey-eighteen: #c9c9c9;
$dep-red: #ff0000;
$dep-red-one: #E74C3C;
$dep-red-two: #d43f3a;
$dep-red-three: #d9534f;
$dep-red-four: #d9534f;
$dep-cyan: #1ABB9C;
$dep-purple: #BAB8B8;
$dep-purple-one: #9B59B6;
$dep-light-blue: #ECF0F1;
$dep-blue: #30729D;
$dep-blue-one: #0063b1;
$dep-blue-two: #3498DB;
$dep-blue-three: #50C1CF;
$dep-blue-four: #EFF6FC;
$dep-blue-five: #6cb1fc;
$dep-blue-six: #4FB5D3;
$dep-blue-seven: #D9DEE4;
$dep-blue-eight: #536A7F;
$dep-blue-nine: #1657b7;
$dep-blue-ten: #30719b;

$dep-aero: #9CC2CB;
$dep-dark: #34495E;
$dep-dark-one: #444444;
$dep-dark-two: #333331;
$dep-dark-three: #555555;
$dep-orange: #F39C12;
$dep-orange-one: #fecb00;
$dep-black: #444441;
$dep-pink: #e3c8ca;
$dep-pink-one: #E4B9C0;
$dep-brown: #A6192E;
$dep-brown-one: #d58512;
$dep-brown-two: #cca300;
$dep-brown-three: #A52A2A;
$dep-green: #0C9769;
$dep-green-one: #99E91D;
$dep-green-two: #0C9769;
$dep-violet: #a149b7;
$dep-yellow: #fbc52d;
$GreenBg2: #0E857A;

$pending-legend-dot: #FFF2E1;
$pending-legend-bg: #FF9201;
$pending-status-bg: #FFE6C5;
$draft-legend-dot: #C3DEFB;
$draft-status-dot: #DBEAFB;
$draft-notapprove-dot: #AE14001A;
$draft-legend-bg: #135193;
$approve-legend-dot: #E4FBE9;
$approve-legend-bg: #25D84C;
$approved1-legend-dot: #E4FBE9;
$approved1-legend-bg: #00685E;
$reject-legend-dot: #FFDCD8;
$repaired-legend-dot: #FFDCD8;
$reject-legend-bg: #AE1400;
$estimate-legend-dot: #ECFFDE;
$estimate-legend-bg: #D6BA63;
$table-th-color: #47505E;
$action-blue-bg: #E6F2FF;
$dark-yellow: #BC9315;
$close-btn-red: #c14f41;
$yellow-header-bg: #FFF4D2;
$light-red-bg: #F4E4E2;
$light-blueHeader-bg: #F6FBFF;
$Grid-select-bg: #FCF7E6;
$CreateBtnYellow: #A57D03;
$mediumtext-Color: #DF7D37;
$gateoutstatusBG: #EAE4FB;
$EstimatePendingBg: #fffbc5;
